venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/
*.log
.vercel
templates/
test_sd_server.py 
test_together_server.py
serverRouter/providers/stablediffusion/sample.py
serverRouter/providers/together/sample.py

.DS_Store
serverRouter/DS_Store
new-omni-env/

# Credentials
.env.*
!.env.example
firebase-credentials.json
*firebase-adminsdk*.json
